<h3>Organizations</h3>

<table class="table">
  <caption>List of organizations</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for( let i = 1; i <= organizations.length; i++ ) { 
      organization = organizations[i-1];
    %>        
    <tr>
      <th scope="row"><%=i%></th>
      <td>
        <a href="/organizations/<%=organization._id%>">
          <%=organization.name%>
        </a>
      </td>
      <td>
        <%=organization.description%>
      </td> 
      <td>
        <a class="btn btn-secondary btn-sm" href="/organizations/<%=organization._id%>/edit">
          Edit
        </a>
      </td>
      <td>
        <form action="/organizations/<%=organization.id%>?_method=DELETE" method="POST">
          <input type="submit" class="btn btn-danger btn-sm" value="DELETE">
        </form>
      </td>
    </tr>
    <% } %>

  </tbody>
</table>
  