<h3><%=organization.name%></h3>
<form action="/organizations/<%=organization.id%>/contacts?_method=DELETE" method="POST">
    <% organization.contacts.forEach(contact => { %>
        <input type="checkbox" name="contacts" value="<%=contact.id%>" />
        <label for="<%= contact.firstName %>"><%= contact.firstName %></label><br />
    <% })%>
    <input class="btn btn-primary btn-sm" type="submit" value="Remove" />
    <a class="btn btn-secondary btn-sm" href="/organizations">Back</a>
<form>
