<h3>Contact Edit</h3>
<form action="/contacts/<%=contact.id%>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="firstName" value="<%=contact.firstName%>" required />
    </div>
    <div class="form-group">
        <label for="phone">Telephone</label>
        <input class="form-control" type="text" name="phone" value="<%=contact.phone%>" required />
    </div>
    <input type="submit" class="btn btn-primary" value="Edit Contact">
</form>

<% if (contact.children.length > 0) { %>
    <h4>Children</h4>
    <ul>
    <% for (let child of contact.children ) { %>
        <li>
            <%= child.name %>
            <% if (child.age) { %>
                (Age: <%= child.age %>)
            <% } %>
        </li>
        <form action="/contacts/<%=contact.id%>/children/<%=child.id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-primary" value="DELETE">
        <form>
    <% } %>
    </ul>
<% } %>

<h3>Add Child</h3>
<form action="/contacts/<%=contact.id%>/childs" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Enter child name" required />
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" type="number" name="age" placeholder="Enter child's age" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save Child">
<form>
    