<h4>Contact Edit Page</h4>
<form action="/contacts/<%=contact.id%>?_method=PUT" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" value="<%=contact.firstName%>" required />
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" value="<%=contact.lastName%>"/>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Telephone</label>
        <input class="form-control" type="tel" name="phone" value="<%=contact.phone%>" required />
    </div>    
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" value="<%=contact.email%>"/>
    </div>
    <div class="form-group">
        <label for="street">Street</label>
        <input class="form-control" type="text" name="street" value="<%=contact.street%>"/>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="street">City</label>
            <input class="form-control" type="text" name="city" value="<%=contact.city%>"/>
        </div>    
        <div class="form-group col-md-4">
            <label for="state">State</label>
            <input class="form-control" type="text" name="state" value="<%=contact.state%>"/>
        </div>
        <div class="form-group col-md-2">
            <label for="zipcode">Zip Code</label>
            <input class="form-control" type="text" name="zipcode" value="<%=contact.zipcode%>"/>
        </div>             
    </div>
    <input type="submit" class="btn btn-primary btn-sm" value="Update Contact">
    <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#addchild" role="button" aria-expanded="false" aria-controls="addchild">
        Add Child
    </a>
    <a class="btn btn-secondary btn-sm" href="/contacts">Back</a>
</form>
  

<div class="collapse" id="addchild">
    <h4>Add Child</h4>
    <form action="/contacts/<%=contact.id%>/children" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Enter child's name" required />
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input class="form-control" type="number" name="age" placeholder="Enter child's age" />
        </div>
        <input type="submit" class="btn btn-primary btn-sm" value="Save Child">
    <form>
</div>

<% if (contact.children.length > 0) { %>
    <h4>Children</h4>
    <ul>
    <% for (let child of contact.children ) { %>
        <li>
            <%= child.name %>
            <% if (child.age) { %>
                (Age: <%= child.age %>)
            <% } %>
        </li>
    <% } %>
    </ul>
<% } %>

    