<h3><%=contact.firstName%> <%=contact.lastName%> <a class="btn btn-secondary btn-sm" href="/contacts">Back</a></h3>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Detail</legend>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" value="<%=contact.firstName%>" readonly />
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" value="<%=contact.lastName%>" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Telephone</label>
        <input class="form-control" type="text" name="phone" value="<%=contact.phone%>" readonly />
    </div>    
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" value="<%=contact.email%>" readonly/>
    </div>
    <div class="form-group">
        <label for="street">Street</label>
        <input class="form-control" type="text" name="street" value="<%=contact.street%>" readonly/>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="street">City</label>
            <input class="form-control" type="text" name="city" value="<%=contact.city%>" readonly/>
        </div>    
        <div class="form-group col-md-4">
            <label for="state">State</label>
            <input class="form-control" type="text" name="state" value="<%=contact.state%>" readonly/>
        </div>
        <div class="form-group col-md-2">
            <label for="zipcode">Zip Code</label>
            <input class="form-control" type="text" name="zipcode" value="<%=contact.zipcode%>" readonly/>
        </div>             
    </div>
</fieldset>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Children</legend>

    <% for (let child of contact.children ) { %>
        <div class="form-row">
            <div class="form-group col-md-2">
                <%= child.name %>
                <% if (child.age) { %>
                    (Age: <%= child.age %>)
                <% } %>
                </div>
            <div class="form-group col-md-1">
                <form action="/contacts/<%=contact.id%>/children/<%=child.id%>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger btn-sm" value="DELETE">
                <form>
                </div>
            <div class="form-group col-md-1">
                <a class="btn btn-secondary btn-sm" href="/contacts/<%=contact._id%>/children/<%=child.id%>/edit">
                    Edit
                </a>   
            </div>   
        </div>
    <% } %>
</fieldset>


