<h3><%=contact.firstName%> <%=contact.lastName%> Detail</h3>
<div>
    <p>
        <label for="firstName">First Name: </label>
        <%=contact.firstName%>
    </p>
    <p>
        <label for="phone">Telephone: </label>
        <%=contact.phone%>
    </p>
</div>
<% if (contact.children.length > 0) { %>
    <h4>Children</h4>
    <ul>
    <% for (let child of contact.children ) { %>
        <li>
            <%= child.name %>
            <% if (child.age) { %>
                (Age: <%= child.age %>)
            <% } %>
        </li>
        <form action="/contacts/<%=contact.id%>/children/<%=child.id%>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-primary" value="DELETE">
        <form>
    <% } %>
    </ul>
<% } %>


